
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: #282828;
  background-size:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET DONE */

body, html { height: 100%; }

body {
  color: #fff;
  margin: 0 auto;
  font: 1em/1.3em Montserrat, Helvetica, sans-serif;
}



.clearfix {
  clear: both;
}
.container {
  height: 92%;
  width: 100%;
  text-align: center;
  position: relative;
  /*background-color: #fb887c;*/
  background-image: url('05_01.jpg');
  background-size:92% 100%;

}
h1 {
  margin: 40px 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  /*text-shadow: 0px 1px 1px #888;*/
}
a {
  text-decoration: none;
  color: #fff;  
  margin: 0 10px;
}
.btn {
  box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
  
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  height: 50px;
  background-color: #e55647;
  
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  
  -webkit-box-shadow: 0 3px 0 0 #d24536;
  box-shadow: 0 3px 0 0 #d24536;
  
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 1px 1px #888;
}
  .btn:active,
  .btn.active {
    top: 1px;
    -webkit-box-shadow: 0 1px 0 0 #d24536;
    box-shadow: 0 1px 0 0 #d24536;
  }


.btn.submit {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.btn-small {
  height: 30px;
  font-size: 12px;
  line-height: 10px;
}
  a.btn-small span.btn {
    height: 30px;
  }

/* Menu Styles */

.valign {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.vertical {
  word-wrap: break-word;
  width: 10px;
  display: inline-block;
  line-height: 18px;
}

.navbar {
  background-color: #444;
  position: fixed;
  left: 0;
  width: 50px;
  height: 100%;

  -webkit-box-shadow: 1px 0 1px 0 rgba(0,0,0,.15);
  box-shadow: 1px 0 1px 0 rgba(0,0,0,.15);
}
  .navbar a.menu {
    display: block;
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: #ccc;
    font-size: 23px;
    line-height: 50px;
  }
  .navbar a.link {
    position: relative;
    display: block;
    margin: 0;
    width: 100%;
    height: 200px;
    background-color: #444;
  }
    .navbar a.link span.active,
    .navbar a.link span.hover {     
      display: table; 
      position: absolute;
      width: 100%;
      height: 100%;
      
      transform-origin: 0% 50% 0px;
      -webkit-transform-origin: 0% 50% 0px;
      transition: .2s; 
      -webkit-transition: .2s;   
      
      border-bottom: 1px solid #555;     
    }
    .navbar a.link span.active {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      
      left: 0;
      background-color: #444;
    }
      .navbar a.link:hover span.active {
        background-color: #999;
        transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, -50, 0, 0, 1);
        -webkit-transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, -50, 0, 0, 1);
      }
      .navbar a.link span.active .vertical { color: #aaa; 
        }
    .navbar a.link span.hover {
      transform: matrix3d(0, 0, -1, 0.00166, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1);
      -webkit-transform: matrix3d(0, 0, -1, 0.00166, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1);
      
      left: 100%;
      background-color: #ccc;
    }
      .navbar a.link:hover span.hover {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -50, 0, 0, 1);
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -50, 0, 0, 1);
      }
    

.container{
	background-color: #3030303;
}
.body_text{
  text-align: center;
}
.table td {
	/*float: center;*/
  	padding-right: 5px;

  	/*margin: 10px auto;*/
}

table{
	margin-left:19%;
}

/*.content{
	width:100%;
	margin: 0 auto;
	clear:both;
}

.content .col-3{
	float:left;
	width:30%;
	margin-right: 3.8%;
}

.content .col-3-last{
	margin-right:0;
}*/
