<!DOCTYPE HTML>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Cube Rotate Menu Link</title>
  <link href="style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400' rel='stylesheet' type='text/css'>

  <link href="//fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text3/css" href="aboutpage.css">
  <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
  <!-- Montserrat Sans -->
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400, 700' rel='stylesheet' type='text/css'>        
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>

</head>
<body style="background-color:#303030">
	<div class="container" style="vertical-align: baseline">
    <div class="navbar">
      <a class="menu" href="#"><i class="icon-align-justify"></i></a>
      <a class="link" href="#">
        <span class="active"><span class="valign"><span class="vertical">HOME</span></span></span>
        <span class="hover"><span class="valign"><span class="vertical">HOME</span></span></span>
      </a>
      <a class="link" href="#">
        <span class="active"><span class="valign"><span class="vertical">ABOUT</span></span></span>
        <span class="hover"><span class="valign"><span class="vertical">ABOUT</span></span></span>
      </a>
      <a class="link" href="#">
        <span class="active"><span class="valign"><span class="vertical">CONTACT</span></span></span>
        <span class="hover"><span class="valign"><span class="vertical">CONTACT</span></span></span>
      </a>
     </div>

  <div class="body_text">
    <br>

    <h2 style="font-family: Montserrat; text-align:center">About Us</h2>
    <!-- <img src="http://www.dvice.com/sites/dvice/files/styles/blog_post_media/public/GGLGLASSSSS870ADFASF.jpg?itok=jP_VhyIU" width=15%>
    <br>
    <img src="http://www.dvice.com/sites/dvice/files/styles/blog_post_media/public/GGLGLASSSSS870ADFASF.jpg?itok=jP_VhyIU" width=15%%>
    <br>
    <img src="http://www.dvice.com/sites/dvice/files/styles/blog_post_media/public/GGLGLASSSSS870ADFASF.jpg?itok=jP_VhyIU" width=15%>
    <br>
    <img src="http://www.dvice.com/sites/dvice/files/styles/blog_post_media/public/GGLGLASSSSS870ADFASF.jpg?itok=jP_VhyIU" width=15%>
    <br><br> -->
   <!--  <a href="#">Hover over me<img src="http://upload.wikimedia.org/wikipedia/commons/4/41/Siberischer_tiger_de_edit02.jpg" width=15% /></a>
    <a href="#">Hover over me<img src="http://upload.wikimedia.org/wikipedia/commons/4/41/Siberischer_tiger_de_edit02.jpg" width=15% /></a>
    <a href="#">Hover over me<img src="http://upload.wikimedia.org/wikipedia/commons/4/41/Siberischer_tiger_de_edit02.jpg" width=15%/></a>
    <a href="#">Hover over me<img src="http://upload.wikimedia.org/wikipedia/commons/4/41/Siberischer_tiger_de_edit02.jpg" width=15%/></a>


    <a href="http://webdesigncrowd.com" class="btn">Read More</a> -->

  </div>

  <div id="mainwrapper"><!-- This #mainwrapper section contains all of our images to make them center and look proper in the browser ->  
    <!-- Image Caption 1 -->  
    <div id="box-1" class="box">  
        <img background-size="cover" id="image-1" left= "20px" src="http://upload.wikimedia.org/wikipedia/commons/4/41/Siberischer_tiger_de_edit02.jpg"/>  
        <span class="caption simple-caption">  
        <p>Simple Caption</p>  
        </span>  
    </div>  
   <!--  <div id="box-2" class="box">  
        <img background-size="cover" id="image-1" src="http://upload.wikimedia.org/wikipedia/commons/4/41/Siberischer_tiger_de_edit02.jpg"/>  
        <span class="caption simple-caption">  
        <p>Simple Caption</p>  
        </span>  
    </div> 
    <div id="box-3" class="box">  
        <img background-size="cover" id="image-1" src="http://upload.wikimedia.org/wikipedia/commons/4/41/Siberischer_tiger_de_edit02.jpg"/>  
        <span class="caption simple-caption">  
        <p>Simple Caption</p>  
        </span>  
    </div> 
    <div id="box-4" class="box">  
        <img background-size="cover" id="image-1" src="http://upload.wikimedia.org/wikipedia/commons/4/41/Siberischer_tiger_de_edit02.jpg"/>  
        <span class="caption simple-caption">  
        <p>Simple Caption</p>  
        </span>  
    </div>  -->
      

</div> <!-- end of #mainwrapper-->  

  <!-- <div class="content">
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-3-last"></div>
  </div> -->
<body>  