<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="/static/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
  <link href="//fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
  <!-- Montserrat Sans -->
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400, 700' rel='stylesheet' type='text/css'>        
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="container" style="vertical-align: baseline">
    <div class="navbar">
      <a class="menu" href="javascript:;"><i class="icon-align-justify"></i></a>
      <a class="link" href="/">
        <span class="active"><span class="valign"><span class="vertical">HOME</span></span></span>
        <span class="hover"><span class="valign"><span class="vertical">HOME</span></span></span>
      </a>
      <a class="link" href="/static/about/index.html">
        <span class="active"><span class="valign"><span class="vertical">ABOUT</span></span></span>
        <span class="hover"><span class="valign"><span class="vertical">ABOUT</span></span></span>
      </a>
      <a class="link" href="/static/contact/index.html">
        <span class="active"><span class="valign"><span class="vertical">CONTACT</span></span></span>
        <span class="hover"><span class="valign"><span class="vertical">CONTACT</span></span></span>
      </a>
     </div>
    
    <br><br><br><br><br><br><br>
    
    <div class="text">
      <h1 style="color:#FFFFFF; font-family:Roboto; margin-left:-30%">Ok glass,</h1>
      <h2 style="color:#FFFFFF; font-family:Roboto; margin-left:-10%">          google...</h2>
      <h2 style="color:#FFFFFF; font-family:Roboto; margin-left:-6%">          take a picture</h2>
      <h2 style="color:#FFFFFF; font-family:Roboto; margin-left:-2.7%">          get directions to...</h2>
      <h2 style="color:#FFFFFF; font-family:Roboto; margin-left:-0.2%">          send a message to....</h2>
      <!-- <h2 style="color:#FFFFFF; font-family:Roboto; margin-left:-1.7%">          start a presentation</h2> -->
      <span style="background-color: black; font-family:Roboto; margin-left:-1.4%; font-size: 21.5px">  start a presentation...</span>
    
    </div>


    <div class ="box" style="background-color:rgba(24,24,24)">
      <!-- <h1 style="opacity:1">Welcome to the perfect</h1>
      <h1 style="color:black; opacity:1">teleprompter inspired for Obama...</h1> -->
    </div>

    
   
    
    <div class = "center-text">
    <br><br><br>
      <h1 style="">Telepromptu: The future teleprompter</h1>
      
    
      
     
    </div>
    <div id="head-content">
      <br><br><br><br>
      <h1 style="font-family:'Montserrat', sans-serif; text-align: center">Creating the perfect presentation so you don't have to.</h1>
      
      <a href="/oauth" class="btn">Sign In</a>
      <!-- <a class="pure-button pure-button-active" style= "text-align:center" href="#">Log In</a> -->
      
      <br><br><br>
    </div>

    <div class="bottom">

      <div class="left-col">
        <br>
        <img src="/static/icon-heart.png" align="center" height="42" width="42">
        <h2 style="color:black">!(Clickers)==TRUE</h2>
        <p style="color:black">The end to awkward hard gestures and malfunctioning clickers.</p>
      </div>

      <div class="right-col">
        <br>
        <img src="/static/icon-heart.png" align="center" height="42" width="42">
        <h2 style="color:black">Error 404</h2>
        <p style="color:black">The presentation information was not found...in your brain. Here's a cheatsheet.</p>
      </div>

      <div class="center-col">
       <br>
        <img src="/static/icon-heart.png" align="center" height="42" width="42">
        <h2 style="color:black">max(coolness_factor)</h2>
        <p style="color:black">Google Glass? Enough said.</p>
        <br>
      </div>
      <div style="clear: both">
      </div>

    </div>
    <br><br><br>
    
   <!--  <a href="http://webdesigncrowd.com" class="btn">WebDesignCrowd</a>
    <a href="http://www.webdesigncrowd.com/3d-cube-rotate-menu/" class="btn">Back to Article</a>
    <h1>Cube 3D Rotate Menu Link</h1>
     -->
  </div>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>

</html>
