<!DOCTYPE HTML>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ title }}</title>
        <link href="/static/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400' rel='stylesheet' type='text/css'>
        <link href="//fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/static/presentations.css">
        <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400, 700' rel='stylesheet' type='text/css'>        
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    </head>
    <body style="background-color:#303030">
        <div class="container" style="vertical-align: baseline; background-image: none !important;">
            <div class="navbar">
                <a class="menu" href="javascript:;"><i class="icon-align-justify"></i></a>
                <a class="link" href="/">
                    <span class="active"><span class="valign"><span class="vertical">HOME</span></span></span>
                    <span class="hover"><span class="valign"><span class="vertical">HOME</span></span></span>
                </a>
                <a class="link" href="/static/about/index.html">
                    <span class="active"><span class="valign"><span class="vertical">ABOUT</span></span></span>
                    <span class="hover"><span class="valign"><span class="vertical">ABOUT</span></span></span>
                </a>
                <a class="link" href="/static/contact/index.html">
                    <span class="active"><span class="valign"><span class="vertical">CONTACT</span></span></span>
                    <span class="hover"><span class="valign"><span class="vertical">CONTACT</span></span></span>
                </a>
            </div>

            <div class="body_text">
                
                <span class="glass_title">Your Drive Presentations</span>
                <span class="glass_desc">To get started, choose the presentation you would like to use.</span>
            </div>

            <div class= "containers"> 
              {% for presentation in files %}
                <div class="presentation">
                    <a href="/presentation?id={{ presentation['id'] }}">
                        <img src="{{ presentation['thumbnail'] }}" />
                        <div class="title">{{ presentation['title'] }}</div>
                    </a>
                </div>
              {% endfor %}
            </div>
        </div>
    </body>
</html>